<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  log4j2-elasticsearch
  %%
  Copyright (C) 2018 Rafal Foltynski
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->



<Configuration status="INFO">

    <Appenders>
        <Console name="CONSOLE" />
        <Elasticsearch name="elasticsearchAsyncBatch">
            <RollingIndexName indexName="log4j2_test_jest" pattern="yyyy-MM-dd-HH" timeZone="Europe/Warsaw" />
            <ThresholdFilter level="INFO" onMatch="ACCEPT"/>
            <JacksonJsonLayout>
                <VirtualProperty name="hostname" value="$${env:hostname:-undefined}" />
                <VirtualProperty name="dynamicField" value="$${env:dynamicValue}" dynamic="true" />
                <PooledItemSourceFactory poolName="itemPool" itemSizeInBytes="512" initialPoolSize="10000"
                                         monitored="true" monitorTaskInterval="10000" resizeTimeout="500">
                    <UnlimitedResizePolicy resizeFactor="0.6" />
                </PooledItemSourceFactory>
            </JacksonJsonLayout>
            <AsyncBatchDelivery batchSize="10000"
                               deliveryInterval="3000" >
                <IndexTemplate name="test_template_jest" path="classpath:indexTemplate-7.json" />
                <JestBufferedHttp serverUris="https://localhost:9200"
                    connTimeout="500"
                    readTimeout="30000"
                    maxTotalConnection="40"
                    defaultMaxTotalConnectionPerRoute="8"
                    mappingType="_doc">
                    <PooledItemSourceFactory poolName="batchPool" itemSizeInBytes="5120000" initialPoolSize="3"
                                             monitored="true" monitorTaskInterval="10000" resizeTimeout="500">
                        <UnlimitedResizePolicy resizeFactor="0.70" />
                    </PooledItemSourceFactory>
                    <BatchLimitBackoffPolicy maxBatchesInFlight="4" />
                    <XPackAuth>
                        <BasicCredentials username="admin" password="changeme" />
                        <!--<JKS keystorePath="${sys:jksCertInfo.keystorePath}"-->
                             <!--keystorePassword="${sys:jksCertInfo.keystorePassword}"-->
                             <!--truststorePath="${sys:jksCertInfo.truststorePath}"-->
                             <!--truststorePassword="${sys:jksCertInfo.truststorePassword}" />-->
                        <PEM keyPath="${sys:pemCertInfo.keyPath}"
                             keyPassphrase="${sys:pemCertInfo.keyPassphrase}"
                             clientCertPath="${sys:pemCertInfo.clientCertPath}"
                             caPath="${sys:pemCertInfo.caPath}" />
                    </XPackAuth>
                </JestBufferedHttp>
                <ChronicleMapRetryFailoverPolicy fileName="failedItems.chronicleMap"
                                               numberOfEntries="1000000"
                                               averageValueSize="2048"
                                               batchSize="5000"
                                               retryDelay="3000"
                                               monitored="true"
                                               monitorTaskInterval="30000">
                    <SingleKeySequenceSelector sequenceId="1"/>
                </ChronicleMapRetryFailoverPolicy>
            </AsyncBatchDelivery>
        </Elasticsearch>
    </Appenders>

    <Loggers>
        <AsyncLogger name="elasticsearch" level="info" additivity="false">
            <AppenderRef ref="elasticsearchAsyncBatch" />
        </AsyncLogger>
        <Root level="info" />
    </Loggers>

</Configuration>
