<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">

    <Appenders>
        <Elasticsearch name="elasticsearchAsyncBatch">
            <IndexName indexName="log4j2-elasticsearch-jest" />
            <ThresholdFilter level="INFO" onMatch="ACCEPT"/>
            <JacksonJsonLayout>
                <VirtualProperty name="field1" value="$${ctx:ctxVariable:-}" dynamic="true" />
                <VirtualProperty name="field2" value="$${env:envVariable:-}" />
                <PooledItemSourceFactory poolName="itemPool"
                                         itemSizeInBytes="${sys:smokeTest.initialItemBufferSizeInBytes:-1024}"
                                         maxItemSizeInBytes="8192"
                                         initialPoolSize="${sys:smokeTest.initialItemPoolSize:-40000}"
                                         monitored="true"
                                         monitorTaskInterval="10000"
                                         resizeTimeout="500">
                    <UnlimitedResizePolicy resizeFactor="0.6" />
                </PooledItemSourceFactory>
            </JacksonJsonLayout>
            <AsyncBatchDelivery batchSize="${sys:smokeTest.batchSize:-10000}"
                                deliveryInterval="10000" >
                <IndexTemplate name="log4j2-elasticsearch-jest" path="classpath:indexTemplate-7.json" />
                <ILMPolicy name="log4j2-elasticsearch-jest-ilm-policy" rolloverAlias="log4j2-elasticsearch-jest" path="classpath:ilmPolicy-7.json" />
                <JestBufferedHttp serverUris="https://localhost:9200"
                    connTimeout="500"
                    readTimeout="30000"
                    maxTotalConnection="40"
                    defaultMaxTotalConnectionPerRoute="8"
                    mappingType="_doc">
                    <PooledItemSourceFactory poolName="batchPool"
                                             itemSizeInBytes="5120000"
                                             initialPoolSize="${sys:smokeTest.initialBatchPoolSize:-4}"
                                             monitored="true"
                                             monitorTaskInterval="10000"
                                             resizeTimeout="500">
                        <UnlimitedResizePolicy resizeFactor="0.70" />
                    </PooledItemSourceFactory>
                    <BatchLimitBackoffPolicy maxBatchesInFlight="4" />
                    <XPackAuth>
                        <BasicCredentials username="admin" password="changeme" />
                        <!--<JKS keystorePath="${sys:jksCertInfo.keystorePath}"-->
                             <!--keystorePassword="${sys:jksCertInfo.keystorePassword}"-->
                             <!--truststorePath="${sys:jksCertInfo.truststorePath}"-->
                             <!--truststorePassword="${sys:jksCertInfo.truststorePassword}" />-->
                        <PEM keyPath="${sys:pemCertInfo.keyPath}"
                             keyPassphrase="${sys:pemCertInfo.keyPassphrase}"
                             clientCertPath="${sys:pemCertInfo.clientCertPath}"
                             caPath="${sys:pemCertInfo.caPath}" />
                    </XPackAuth>
                </JestBufferedHttp>
                <ChronicleMapRetryFailoverPolicy fileName="${sys:appenders.failover.chroniclemap.dir:-./}failedItems-log4j2-elasticsearch-jest.chronicleMap"
                                               numberOfEntries="${sys:smokeTest.initialItemBufferSizeInBytes:-500000}"
                                               averageValueSize="${sys:smokeTest.initialItemBufferSizeInBytes:-2048}"
                                               batchSize="5000"
                                               retryDelay="3000"
                                               monitored="true"
                                               monitorTaskInterval="30000">
                    <SingleKeySequenceSelector sequenceId="1"/>
                </ChronicleMapRetryFailoverPolicy>
            </AsyncBatchDelivery>
        </Elasticsearch>
    </Appenders>

    <Loggers>
        <AsyncLogger name="elasticsearch" level="info" additivity="false">
            <AppenderRef ref="elasticsearchAsyncBatch" />
        </AsyncLogger>
    </Loggers>

</Configuration>
