<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Elasticsearch name="${sys:smokeTest.appenderName:-elasticsearch-appender}">
            <JsonLayout compact="true" />
            <IndexName indexName="log4j2_test_es2" />
            <AsyncBatchDelivery batchSize="10000"
                               deliveryInterval="1000" >
                <IndexTemplate name="test_template_es2" path="classpath:indexTemplate.json" />
                <ElasticsearchBulkProcessor serverUris="tcp://localhost:9300">
                    <ShieldAuth>
                        <BasicCredentials username="admin" password="changeme" />
                        <JKS keystorePath="${sys:jksCertInfo.keystorePath}"
                             keystorePassword="${sys:jksCertInfo.keystorePassword}"
                             truststorePath="${sys:jksCertInfo.truststorePath}"
                             truststorePassword="${sys:jksCertInfo.truststorePassword}" />
                    </ShieldAuth>
                    <ClientSettings>
                        <ClientSetting name="cluster.name" value="${sys:clusterName}" />
                    </ClientSettings>
                </ElasticsearchBulkProcessor>
                <NoopFailoverPolicy />
            </AsyncBatchDelivery>
        </Elasticsearch>
        <Async name="asyncAppender">
            <AppenderRef ref="${sys:smokeTest.appenderName:-elasticsearch-appender}" />
        </Async>
    </Appenders>

    <Loggers>
        <AsyncLogger name="${sys:smokeTest.loggerName:-elasticsearch-logger}" level="info" additivity="false">
            <AppenderRef ref="asyncAppender" />
        </AsyncLogger>
        <Root level="${sys:log4j2.level:-info}" />
    </Loggers>

</Configuration>
