<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

    <Appenders>

        <Console name="CONSOLE" level="DEBUG" />

        <Elasticsearch name="elasticsearchAsyncBatch">
            <JsonLayout compact="true" />
            <IndexName indexName="log4j2_test_es6" />
            <AsyncBatchDelivery batchSize="10000"
                               deliveryInterval="1000" >
                <IndexTemplate name="test_template_es6" path="classpath:indexTemplate.json" />
                <ElasticsearchBulkProcessor serverUris="tcp://localhost:9300">
                    <XPackAuth>
                        <BasicCredentials username="admin" password="changeme" />
                        <PEM keyPath="${sys:pemCertInfo.keyPath}"
                             keyPassphrase="${sys:pemCertInfo.keyPassphrase}"
                             clientCertPath="${sys:pemCertInfo.clientCertPath}"
                             caPath="${sys:pemCertInfo.caPath}" />
                    </XPackAuth>
                    <ClientSettings>
                        <ClientSetting name="cluster.name" value="${sys:clusterName}" />
                    </ClientSettings>
                </ElasticsearchBulkProcessor>
                <NoopFailoverPolicy />
            </AsyncBatchDelivery>
        </Elasticsearch>
        <Async name="asyncAppender">
            <AppenderRef ref="${sys:smokeTest.appenderName:-elasticsearch-appender}" />
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="org.elasticsearch.xpack.ssl.SSLService">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <Logger name="org.elasticsearch.client.transport.TransportClientNodesService">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <AsyncLogger name="${sys:smokeTest.loggerName:-elasticsearch-logger}" level="info" additivity="false">
            <AppenderRef ref="asyncAppender" />
        </AsyncLogger>
        <Root level="${sys:log4j2.level:-info}" />
    </Loggers>

</Configuration>
