<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  log4j2-elasticsearch
  %%
  Copyright (C) 2018 Rafal Foltynski
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->


<Configuration status="DEBUG">

    <Appenders>

        <Console name="CONSOLE" level="DEBUG" />

        <Elasticsearch name="elasticsearchAsyncBatch">
            <JsonLayout compact="true" />
            <IndexName indexName="log4j2_test_es6" />
            <AsyncBatchDelivery batchSize="10000"
                               deliveryInterval="1000" >
                <IndexTemplate name="test_template_es6" path="classpath:indexTemplate.json" />
                <ElasticsearchBulkProcessor serverUris="tcp://localhost:9300">
                    <XPackAuth>
                        <BasicCredentials username="admin" password="changeme" />
                        <PEM keyPath="${sys:pemCertInfo.keyPath}"
                             keyPassphrase="${sys:pemCertInfo.keyPassphrase}"
                             clientCertPath="${sys:pemCertInfo.clientCertPath}"
                             caPath="${sys:pemCertInfo.caPath}" />
                    </XPackAuth>
                    <ClientSettings>
                        <ClientSetting name="cluster.name" value="${sys:clusterName}" />
                    </ClientSettings>
                </ElasticsearchBulkProcessor>
                <NoopFailoverPolicy />
            </AsyncBatchDelivery>
        </Elasticsearch>
        <Async name="asyncLogger">
            <AppenderRef ref="elasticsearchAsyncBatch" />
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="org.elasticsearch.xpack.ssl.SSLService">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <Logger name="org.elasticsearch.client.transport.TransportClientNodesService">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <AsyncLogger name="elasticsearch" level="info" additivity="false">
            <AppenderRef ref="asyncLogger" />
        </AsyncLogger>
        <Root level="info" />
    </Loggers>

</Configuration>
