<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="${sys:log4j2.level:-INFO}">

    <Appenders>
        <Elasticsearch name="${sys:smokeTest.appenderName:-elasticsearch-appender}">
            <RollingIndexName indexName="log4j2-elasticsearch-hc" pattern="dd-HH-mm"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT"/>
            <JacksonJsonLayout>
                <NonEmptyFilter/>
                <VirtualProperty name="field1" value="$${ctx:ctxVariable:-}" dynamic="true" />
                <VirtualProperty name="field2" value="$${env:envVariable:-}" />
                <JacksonModuleExample/>
                <PooledItemSourceFactory poolName="itemPool"
                                         itemSizeInBytes="${sys:smokeTest.initialItemBufferSizeInBytes:-1024}"
                                         maxItemSizeInBytes="8192"
                                         initialPoolSize="${sys:smokeTest.initialItemPoolSize:-40000}"
                                         monitored="true"
                                         monitorTaskInterval="10000"
                                         resizeTimeout="500">
                    <UnlimitedResizePolicy resizeFactor="0.6" />
                </PooledItemSourceFactory>
            </JacksonJsonLayout>
            <AsyncBatchDelivery batchSize="${sys:smokeTest.batchSize:-10000}"
                                deliveryInterval="10000" >
                <IndexTemplate name="log4j2-elasticsearch-hc" path="classpath:indexTemplate-7.json" />
                <ILMPolicy name="log4j2-elasticsearch-hc-ilm-policy" rolloverAlias="log4j2-elasticsearch-hc" path="classpath:ilmPolicy-7.json" />
                <HCHttp connTimeout="500"
                        readTimeout="30000"
                        maxTotalConnections="8">
                    <PooledItemSourceFactory poolName="batchPool"
                                             itemSizeInBytes="5120000"
                                             initialPoolSize="${sys:smokeTest.initialBatchPoolSize:-4}"
                                             monitored="true"
                                             monitorTaskInterval="10000"
                                             resizeTimeout="500">
                        <UnlimitedResizePolicy resizeFactor="0.70" />
                    </PooledItemSourceFactory>
                    <BatchLimitBackoffPolicy maxBatchesInFlight="4" />
                    <ServiceDiscovery serverUris="http://localhost:9200"
                                      refreshInterval="5000"
                                      configPolicies="none" />
<!--                    <Security>-->
<!--                        <BasicCredentials username="admin" password="changeme" />-->
<!--                        &lt;!&ndash;<JKS keystorePath="${sys:jksCertInfo.keystorePath}"&ndash;&gt;-->
<!--                             &lt;!&ndash;keystorePassword="${sys:jksCertInfo.keystorePassword}"&ndash;&gt;-->
<!--                             &lt;!&ndash;truststorePath="${sys:jksCertInfo.truststorePath}"&ndash;&gt;-->
<!--                             &lt;!&ndash;truststorePassword="${sys:jksCertInfo.truststorePassword}" />&ndash;&gt;-->
<!--                        <PEM keyPath="${sys:pemCertInfo.keyPath}"-->
<!--                             keyPassphrase="${sys:pemCertInfo.keyPassphrase}"-->
<!--                             clientCertPath="${sys:pemCertInfo.clientCertPath}"-->
<!--                             caPath="${sys:pemCertInfo.caPath}" />-->
<!--                    </Security>-->
                </HCHttp>
                <ChronicleMapRetryFailoverPolicy fileName="${sys:appenders.failover.chroniclemap.dir:-}/failedItems-log4j2-elasticsearch-hc.chronicleMap"
                                              numberOfEntries="${sys:appenders.failover.chroniclemap.numberOfEntries:-1000000}"
                                              averageValueSize="${sys:smokeTest.initialItemBufferSizeInBytes:-2048}"
                                              batchSize="5000"
                                              retryDelay="3000"
                                              monitored="true"
                                              monitorTaskInterval="30000">
                    <SingleKeySequenceSelector sequenceId="1"/>
                </ChronicleMapRetryFailoverPolicy>
            </AsyncBatchDelivery>
        </Elasticsearch>
    </Appenders>

    <Loggers>
        <AsyncLogger name="${sys:smokeTest.loggerName:-elasticsearch-logger}" level="INFO" additivity="false">
            <AppenderRef ref="${sys:smokeTest.appenderName:-elasticsearch-appender}" />
        </AsyncLogger>
    </Loggers>

</Configuration>
